///fonts///
$font-primary: "Gilroy-Regular";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;

$background: #080807;
$system: #10100E;
$stroke: #4F4F4F;
$text: #8A9385;
$titles: #F7FFEE;
$accent: #B1FF5C;
$accent-hover: #9AF03C;
$accent2: #42882A;
$errors: #FF3D3D;
$verification: #FFB444;

$status-unverified: #8E938C;
$border-verification: #242424;

$hover-button: #152108;